<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador</title>
</head>
<body>
    <header>
        <h1>Gestion de datos Tesoreria</h1>
    </header>
    <main>
        <table border="1">
            <thead>
                <tr>
                    <th>Nit</th>
                    <th>Empresa</th>
                    <th>Pago</th>
                    <th>Descuento</th>
                    <th>Retención</th>
                    <th>Fecha Pago</th>
                </tr>
            </thead>    
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>