:root {
  --background: linear-gradient(135deg, #2c3e50, #bdc3c7);
  --foreground: #116b33;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: var(--background);
  margin: 0;
  padding: 20px;
  color: #333;
}

footer {
  text-align: center;
  padding: 10px 0;
}
footer h5 {
  margin: 0;
  font-size: 14px;
  text-shadow: 2px 2px 4px white;
}
.imgautors {
  width: 20px;
  vertical-align: middle;
  margin-right: 5px;
  box-shadow: 2px 2px 4px white;
}

button {
  background: var(--foreground);
  border-radius: 8px;
  width: 150px;
  height: 40px;
  color: white;
  font-size: large;
  margin-top: 20px;
  transition: background 0.3s ease;
}

button:hover {
  background: #2c3e50;
}

/* Estilos del menu de navegación */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 2rem;
  margin-bottom: 20px;
  color: #229544;
  margin-top: -40px;
}

h1 {
    flex: 1;
    text-align: center;
    color: #ffffff;
    margin: 0;
}

.imglogoindex {
    width: 100px;
    height: auto;
}

.nav_list {
  flex-direction: column;
  align-items: end;
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav_list li a {
  text-decoration: none;
  color: #ffffff;
  gap: 10px;
}

.nav_list li form {
  padding: 10px;
}

.logo {
  max-width: 5rem;
}

.abrmenu,
.crrmenu {
  display: block;
  border: 0;
  font-size: 1.35rem;
  background-color: transparent;
  cursor: pointer;
  color: #ffffff;
  align-items: end;
}

.nav {
  opacity: 0.5;
  display: none;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #1c1c1c;
  padding: 3rem;
  gap: 15px;
}

.nav.visible {
  opacity: 0.5;
  display: flex;
}
