:root {
  --background: linear-gradient(135deg, #2c3e50, #bdc3c7);
  --foreground: #116b33;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
}

.principal{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(135deg, #2c3e50, #bdc3c7);
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.principal.scrolled {
  padding: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  text-align: center; 
  padding: 10px 0; 
}

footer h5 {
  margin: 0;
  font-size: 14px;
  text-shadow: 2px 2px 4px white;
}

.imgautors {
  width: 20px;
  vertical-align: middle;
  margin-right: 5px;
  box-shadow: 2px 2px 4px white;
}

button {
  background: var(--foreground);
  border-radius: 8px;
  width: 150px;
  height: 40px;
  color: white;
  font-size: large;
  margin-top: 20px;
  transition: background 0.3s ease;
}

button:hover {
  background: #2c3e50;
}

/* Estilos del menu de navegación */
h1 {
    flex: 1;
    text-align: center;
    font-size: 30px;
    margin: 0;
    gap: 10px;
}

.imglogoindex {
    width: 8vw;
    height: auto;
    padding-left: 20px;
}

.nav_list {
  flex-direction: column;
  align-items: end;
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav_list li a {
  text-decoration: none;
  color: #ffffff;
  gap: 10px;
}

.nav_list li form {
  padding: 10px;
}

.abrmenu,
.crrmenu {
  display: block;
  border: 0;
  font-size: 1.35rem;
  background-color: transparent;
  cursor: pointer;
  color: #ffffff;
  align-items: end;
}

.nav {
  display: none;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #1c1c1c;
  padding: 3rem;
  gap: 15px;
}

.nav.visible {
  display: flex;
}
