/* Estilo del formulario de búsqueda */
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.input-search {
  width: 100%;
  max-width: 350px;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: all 0.3s ease;
}

.input-search::placeholder {
  color: #888;
  font-style: italic;
}

.input-search:focus {
  border-color: #0073e6;
  box-shadow: 0 0 8px rgba(0, 115, 230, 0.2);
  background-color: #ffffff;
} 

.container {
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 110px;
}

.title-search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 6rem;
  padding: 1rem;
}

.header h1 {
  color: #2c3e50;
}

.responsive-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.responsive-table thead th {
  background-color: #4CAF50;
  color: white;
  padding: 0.8rem;
  text-transform: uppercase;
}

.responsive-table tbody tr {
  transition: background-color 0.3s;
}

.responsive-table tbody tr:hover {
  background-color: #f9f9f9;
}

.responsive-table td, .responsive-table th {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #ddd;
}

.responsive-table td[data-label]:before {
  content: attr(data-label);
  display: none;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  color: #4CAF50;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.pagination button.active {
  background-color: #2e7d32;
}

.pagination button:hover {
  background-color: #2e7d32;
}

/* Responsividad */
@media (max-width: 768px) {
  .responsive-table {
    overflow-x: auto;
    border: none;
  }

  .responsive-table thead {
    display: none;
  }

  .responsive-table tbody tr {
    display: block;
    margin-bottom: 1rem;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .responsive-table td {
    display: block;
    text-align: left;
    padding: 0.8rem;
    font-size: 1.5rem;
    border: none;
  }

  .responsive-table td[data-label]:before {
    display: block;
  }
}
